<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Post <small> : {{title}}</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Board</li>
                <li>
                    {{#link-to "index.posts" class="link-effect" }}
                        Posts
                    {{/link-to}}
                </li>
                <li>
                    Post
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title"><i class="fa fa-fw fa-briefcase"></i> New</h3>
                </div>
                <div class="block-content">
                    <div class="form-material push-10">
                        {{input value=title class="form-control" placeholder="Title" id="title"}}
                        <label for="title">Title</label>
                    </div>
                    <div class="form-material push-30-t">
                        {{textarea value=content cols="80" rows="6" class="form-control" id="content" placeholder="Content"}}    
                        <label for="content">Content</label>
                    </div>
                </div>
            </div>
            <button {{action "save"}} class="btn btn-sm btn-primary pull-right">
                <i class="fa fa-pencil"></i>
                Save
            </button>
        </div>
        <div class="col-lg-6">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title"><i class="fa fa-newspaper-o"></i> View</h3>
                </div>
                <div class="block-content">
                    {{mark-down content}}
                </div>
            </div>
        </div>
    </div>
</div>
