<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Post <small> {{model.post.title}}</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Board</li>
                <li>
                    {{#link-to "index.posts" class="link-effect" }}
                        Posts
                    {{/link-to}}
                </li>
                <li>
                    Post
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="block-header">
        {{#link-to "index.posts" tagName="button" class="btn btn-sm btn-success"}} <i class="fa fa-reply"></i> Retour{{/link-to}}
        {{#link-to "index.post.add" tagName="button" class="btn btn-sm btn-success"}} <i class="fa fa-plus"></i> Add{{/link-to}}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title"><i class="fa fa-fw fa-briefcase"></i> Edit</h3>
                </div>
                <div class="block-content">
                    <div class="form-material push-10">
                        {{input value=model.post.title class="form-control" id="title"}}
                        <label for="title">Title</label>
                    </div>
                    <div class="form-material push-30-t">
                        {{textarea value=model.post.content cols="80" rows="6" class="form-control" id="content" }}    
                        <label for="content">Content</label>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title">Tags</h3>
                </div>
                <div class="block-content block-content-full">
                    {{#each tags as |tag|}}
                        <span class="label label-success push-10-l">
                            {{tag.title}} 
                            <a {{action "deleteTag" tag}} > <i class="fa fa-times"></i> </a> 
                        </span>
                    {{/each}}
                </div>
            </div>
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title">List of tags</h3>
                </div>
                <div class="block-content block-content-full">
                    {{#each model.tags as |tag|}}
                        <span class="label label-info push-10-l">
                            {{tag.title}} 
                            <a {{action "deleteTag" tag}} > <i class="fa fa-times"></i> </a> 
                        </span>
                    {{/each}}
                </div>
            </div>            
            <button {{action "save" model.post}} class="btn btn-sm btn-primary pull-right push-10-l">
                <i class="fa fa-pencil"></i>
                Save
            </button>
        </div>    
        <div class="col-lg-6">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title"><i class="fa fa-newspaper-o"></i> View</h3>
                </div>
                <div class="block-content">
                    {{mark-down model.post.content}}
                </div>
            </div>
        </div>
    </div>
</div>
